{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>Editing {{user.first_name}} {{user.last_name}}</h1>
    <form action="/users/{{user.id}}/edit" method="POST">
        <input type="text" name="first_name" value="{{user.first_name}}" required>
        <input type="text" name="last_name" value="{{user.last_name}}" required>
        <input type="text" name="image_url" value="{{user.image_url}}">
        <a href="/users/{{user.id}}">Cancel</a>
        <button type="submit">Save</button>
    </form>
{% endblock %}